@media (min-width:700px){
    body {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) ;
        background-color: #fbfffd;
    }

}

body{
    /* background-color: rgb(138, 138, 138); */
    color: rgb(0, 0, 0);
    /* max width according to the map ---- 700px width */
    /* max-width: 800px;
    position:relative; */
    /* transform: translate(50%, 0%); */
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* margin-right: -50%; */
    /* transform: translate(-50%, -50%)  */
    /*  */
    
    /* font-size: 1.5em; */
}

.wrapper{
    /* background-color: #333; */
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
    /* width: 8em */
}

#gameWindow{
    /* width: auto; */
    width: fit-content;
    /* height: max-content; */
    /* justify-content: center; */
    display: grid;
    grid-template-rows: 10% 70% ;
    grid-gap : 10px;
    background-color: #fbfffd;
    color: black;
}


#gameWindow svg{
    transform: 0.75;
    margin-top: 10px;
    padding: 1vh 1vh 1vh 1vh;
    border: 1px salmon solid;
    fill: #111114;
    stroke: rgb(247, 237, 237);
}
/* removed viewbox -- - - - --- */
#gameWindow svg:hover{

    fill: #6b9789;
    stroke: black;
}

#gameWindow svg a{
    border: 1px salmon solid;
    fill: #fdfdfd;
    stroke: rgb(7, 6, 6);
}

#gameWindow svg a:hover{
    fill: #d37575;
    stroke: rgb(15, 13, 13);
}

#guessID{
    /* align-items: center; */
    width: max-content;
    justify-self: center;
    align-self: center;
    /* text-align: center; */
    /* padding-top: 20px; */
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.4em;
    color: #141111;
    background-color: #d1d1d1;
    /* text-align: center; */
    border-radius: 12px;

}

#dialog{

    width: 100px;
    height: auto;
    
}


/* popup div */

/* Popup container */
#gameWindow .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  

  #popup1{

    background-image: url("thumbsUp.png");
    background-size:cover;
    /* background:url(https://tenor.com/view/thumbs-up-borat-very-nice-gif-24526604) no-repeat; */
  }
  body {
    font-family: Arial, sans-serif;
    background-size: cover;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
  }
  
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(84, 211, 132, 0.829);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
}





  /* The actual popup (appears on top) */

/*
  .popup img {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
*/  
  /* Popup arrow */
 
  /* .popup img::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
   */
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  /* .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
   */
  /* Add animation (fade in the popup) */
  /* @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
   */
  /* @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  } */