/*  v4 size isse for small screen still remains */

body{
  /* max-height: 1600px; */
  margin: auto auto;
  /* width: 50%; */
  background-color: wheat;
  max-width: max-content;
  max-height: max-content;
}

.wrapper{
  margin-top: 40px;
  /* width: 50%; */
  /* margin-top: 50%; */
  background-color: wheat;
  /* background-color: antiquewhite; */
  /* display: grid; */
  display: inline-block;
  grid-template-rows:  10% 50%;

}

.wrapper #gameWindow svg a{

  fill:inherit;
  /* fill: rgb(244, 255, 183); */
  /* fill: rgb(183, 255, 213); */
  stroke: black;

}

#MapOfIndia{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: wheat;
  fill: blanchedalmond;
  stroke: white;
}

.wrapper:first-child{
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: center;
  max-width: 600px;


}
.wrapper:nth-child(1){
  /* background-color: rgb(254, 255, 179); */
  background-color: wheat;
}

.wrapper div:nth-child(2){
 
  background-color: wheat;
  /* background-color: rgb(179, 245, 179); */
}
svg{
  height: 500px;
  width: 500px;
  /* fill: aliceblue; */
}


svg path:hover{
  fill: rgb(255, 146, 74);
}


#gameWindow #guessID{
  
  max-width: 500px;
  background-color: antiquewhite;
  font-size: 1em;
  padding-bottom: 10px;
  height: 30px;
  /* margin: 0 auto; */
  /* padding-top: 10%; */
  padding-top: 5%;
  padding-bottom: 10%;
  border-radius: 20px;
}

.score{
  text-align: center;
  justify-items: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  align-tracks: center;
  /* display: flex; */
  display: inline-block;
  line-height: 60px;
  height: 65px;
  width: 65px;
  background-color: rgb(250, 240, 108);
  border-radius: 100%;

}



#shareButton{
  display:none;
}

#gameMessage{
  text-align: center;
  background-color: aliceblue;
  font-size: 1.5em;
  text-shadow: 0 0 1px #000000;

}

#tweetButton img{

  background-color: snow;
  height: 50px;
  width: 50px;
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  /* background-image: url('twitter-bird.png'); */
}

.modal-footer img{
  background-color: aliceblue;
  height: 50px;
  width: 50px;
  /* box-shadow: 1px 1px 1px; */

}